env/
dist/
.venv/
venv/
ENV/
.python-version
target/
docs/_build/
errors.txt
logs.txt
nohup.out
report.xml
unit_coverage.xml
.coverage
htmlcov/
.tox/
.coverate.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/
.pytest_cache/
.pytest_cache/*
*/.pytest_cache/
__pycache__/
*.py[cod]
*$py.class
*.so

